#header{
    display: flex;
    gap: 30%;
    background-color: #293f50;
    margin: -8px;
}

#title{
    margin-left: 10%;
    color: white;
    
}
#title h1{
    font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 50px;
}

#navigation{
    margin-top: 3%;
    text-decoration: none;
}

#date{
    font-size: 150%;
   color: #648880;
   justify-content: right;
   font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

#headernavigation{
    display: flex;
    gap: 10%;
    justify-content: right;
}

#headernavigation a{
    color: white;
    text-decoration: none;
    font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#contenttext{
    background-color: #293f50;
    margin-top: -40px;
    margin-left: -8px;
    width: 130%;
    height: 60vh;
}

#contenttext>h2{
    color: #648880;
    font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
  margin-left: 260px;
  padding-top: 40px;
}

#contenttext p{
    color: white;
    font-family: "Lato", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 30px;
  text-align: center;
  margin-left: -190px;
  margin-right: 150px;
    margin-top: -20px;
    margin-bottom: 40px;
}

#contenttext a{
    color: white;
    text-decoration: none;
    font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  margin-left: 550px;
  margin-right: 170px;
  margin-top: 190px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
}

#content{
    height: 80vh;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 60px;

}

.grid{
    width: 20%;   
    height: 60%;
    margin-top: 60px;
}

.grid img{
    height: 220px;
    width: 320px;
    border-radius: 10px;
}

.grid h5{
    font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: rgb(169, 178, 185);
}

.grid h3{
    font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 23px;
  color: rgb(100, 136, 128);
}

.grid p{
    font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  color: rgb(41, 63, 80);
}

#footer{
    height: 20vh;
    background-color: #293f50;
    width: 150%;
    margin: -8px;
    display: flex;
    gap:25%;
}

#footer p{
    color: rgb(100, 136, 128);
    margin-left: 8%;
    margin-top: 3%;
}

#footer nav{
    display: flex;
    gap: 3%;
    text-decoration: none;
}

#footer a{
    margin-top: 20%;
    margin-left: 5%;
    color: white;
    text-decoration: none;
    font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

#title h1:hover{
    color: #648880;
}

#headernavigation a:hover{
    color: #648880;
}

#contenttext a:hover{
    background-color: white;
    color: #648880;
}

.grid h3:hover{
    color: rgb(169, 178, 185);
}

#footer a:hover{
    color: #648880;
}

.grid img:hover{
transform: scale(1.1,1.1);
box-shadow: 2px 2px 2px 5px  #293f50;
}




